
    .one {
        background-color: red;
    }
    .two {
        background-color: green;
    }
    .three {
        background-color: blue;
    }
    #spin {
        background-color: lawngreen;
        font-size: 20px;
    }
    #spin:hover {
        background-color: forestgreen;
        font-size: 30px;
    }    
    #tb1 {
        min-width: 15%;
        min-height: 400px;
    }
    #tb2 {
        min-width: 15%;
        min-height: 400px;
    }
    #tb3 {
        min-width: 15%;
        min-height: 400px;
    }

